html, body{
    background-color: #333333;
}

#root{
    width: 375px;
    height: 667px;
    margin: 0 auto;
    background-color: #fff;
    overflow-y: scroll;
    padding: 15px;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    .search-box{
        position: relative;

        .search{
            width: 100%;
            height: 33px;
            border: 1px solid #333333;
            box-sizing: border-box;
            padding: 0 6px;
            border-radius: 5px;
        }

        .anticon-search{
            width: 33px;
            height: 33px;
            font-size: 20px;
            position: absolute;
            padding-top: 6px;
            right: 0;
            color: skyblue;
        }
    }

    .tree-box{
        margin-top: 30px;

        .tree{
            .parent{
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .name{
                    margin-left: 10px;
                }
            }

            .son{
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .name{
                    margin-left: 35px;
                }
            }

            .icon{
                width: 15px;
                height: 15px;
                border: 1px solid skyblue;
            }

            .icon-act{
                width: 15px;
                height: 15px;
                border: 1px solid skyblue;
                background: skyblue;
                display: flex;
                align-items: center;
                justify-content: center;

                .anticon-check{
                    font-size: 13px;
                    color: #fff;
                }
            }
        }
        
    }

    .btn-box{
        padding-top: 30px;

        .btn{
            background-color: skyblue;
            border: none;
            height: 44px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
    }
}